/** reset **/
*{ user-select: none; -webkit-user-select: none;}
html{ width:100%;}
body{ width:100%; min-width:1300px;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td, img{border:medium none;margin: 0;padding: 0;}
body,button, input, select, textarea{font: 14px/1.5 "Microsoft Yahei",tahoma,Srial,helvetica,sans-serif;}
h1, h2, h3, h4, h5, h6{font-size: 100%;font-weight: normal;}
em{font-style:normal;}
ul, ol{list-style: none;}
a{
	text-decoration: none;color:#333;
	text-decoration: none;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
a:hover{
	text-decoration: none;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
/*鐏嫄鍘绘帀鎸夐挳銆佽繛鎺ョ殑铏氱嚎*/
a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border: 0;outline : 0;} 
input,button,select,textarea{outline:none;-webkit-appearance:none;}
textarea{resize:none;}
a { text-decoration: none; color: #333; }
a{blr:expression(this.onFocus=this.blur());}
a:focus{outline:none;}
a.hidefocus{outline:none}
.button{ border-radius: 0; }
input{font-family: "寰蒋闆呴粦";}
textarea{font-family: "寰蒋闆呴粦";}
img{border:0px;  outline-width:0px;  vertical-align:top;}
.cleafix:after{clear:both;content:"\200B";display:block;height:0;}
.cleafix{*zoom:1;}
.fl { float:left;}
.fr { float:right;}
.w1300{ width:1300px; margin:0 auto;}
/* 鍔ㄧ敾 */
@-webkit-keyframes bounceIn {
	/* 榛樿 */
	0% {
		-webkit-transform: translate(0,-25%);
		-ms-transform: translate(0,-25%);
		-o-transform: translate(0,-25%);
		transform: translate(0,-25%);
	}
	100% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
	}
}
@keyframes bounceIn {
	0% {
		-webkit-transform: translate(0,-25%);
		-ms-transform: translate(0,-25%);
		-o-transform: translate(0,-25%);
		transform: translate(0,-25%);
	}
	100% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
	}
}
@-webkit-keyframes bounceOut {
	/* 榛樿 */
	0% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
	}
	100% {
		-webkit-transform: translate(0,-25%);
		-ms-transform: translate(0,-25%);
		-o-transform: translate(0,-25%);
		transform: translate(0,-25%);
	}
}
@keyframes bounceOut {
	0% {
		-webkit-transform: translate(0,0);
		-ms-transform: translate(0,0);
		-o-transform: translate(0,0);
		transform: translate(0,0);
	}
	100% {
		-webkit-transform: translate(0,-25%);
		-ms-transform: translate(0,-25%);
		-o-transform: translate(0,-25%);
		transform: translate(0,-25%);
	}
}