/*首页*/
/*顶部导航*/
.headerWrap{width: 100%;position: fixed;z-index: 9999;top: 0;left: 0;transition-duration: 400ms; transition-property: all; transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);}
.header{height: 80px;background: #fff;border-radius: 5px;margin-top: 38px;position: relative;z-index: 10;box-shadow: 1px 1px 3px #aaa;}
.header .logo{display: block;float: left;width: 220px;height: 80px; padding-top:5px;}
.header .logo img{display: block;margin-left:auto; margin-right: auto;}
.header .headNav{width: 858px;height: 80px;text-align: center;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.headNav .nav{display: inline-block;}
.header .nav li{float: left; position: relative;}
.header .nav>li>a{font-size: 14px;color: #353535;margin: 0 23px;display: block;line-height: 78px;}
.header .nav>li:hover>a{color: #0280bb;position: relative;}
.header .nav>li>a b{display: block;width: 0px;margin: 0 auto;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;transition: all .3s ease-in-out;border-bottom: 2px solid #0280bb;}
.header .nav>li:hover>a b{width: 100%;}
.headR{width: 215px;background: url(../images/logo/ico.jpg) no-repeat 174px;     background-position: 138% -24px;}
.headR a{display: block;float: left;color: #353535;font-size: 14px;line-height: 80px;margin-left: 52px;}
.headR b{display: block;float: left;width: 1px;height: 14px;background: #ccc;margin: 33px 20px;}
.headR .search{display: block;width: 120px;height: 20px;margin: 30px 0;background: url(../images/search.png) no-repeat left;}
a.weibo,a.weixin{ margin-top: 24px; margin-left: 36px;     line-height: 18px;}

.headC{ height: 99%;}
.headC .weixin .wechatT{     
	border-radius: 5px;
	position: absolute;
	right:76px;
	top:66px;
	display: none;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    width: 160px;
    height: 160px;
    background: #fff;
	z-index: 99; }
	.headC .weixin:hover .wechatT{
		display: inline;
	}
.headC .weixin .wechatT p{ text-align: center;}
.headerWrap.head-menu .header{margin-top: 12px;}
.header .nav li .box {position: absolute; width: 100%; top: 80px; left: -4px; padding: 10px 0 0 0; display: none;}
.header .nav li .box1{width: 150px; left: -25px;}
.header .nav li .box ul{background: rgba(0,0,0,0.6); padding: 10px 0; border-radius: 10px;}
.header .nav li .box li {display: block; line-height: 32px; float: none;}
.header .nav li .box li a { font-size: 14px; display: block;  color: #fff; text-align:center; overflow:hidden;}
.header .nav li .box li a:hover {text-decoration: underline; }
.header .nav li .box .arrowUp{display: block;width: 12px;height: 9px;position: absolute;top: 1px;left: 50%; margin-left: -6px; z-index: 99; background: url(../images/my_ico21.png) no-repeat;}
.header .nav li .box ul.ywtx{ width:600px; /*width:660px;*/ padding:10px; background:rgba(0,0,0,0.6);}
.header .nav li .box ul.ywtx li{ float:left; display:block;  width:120px; text-align:center; font-size: 14px; display: block;  color: #fff;margin:0px 10px; overflow:hidden;}
.header .nav li .box ul.ywtx li a { font-size: 16px; font-weight:500; display: block;  color: #fff; border-bottom:1px solid #ccc; /* border:1px solid #ccc; border-radius:47px;*/}
.header .nav li .box ul.ywtx li .snav{ width:100%;}
.header .nav li .box ul.ywtx li .snav a{font-size: 14px; display: block;  color: #e5e5e5; border:none;}
.header .nav li .box ul.ywtx li .snav a:hover {text-decoration: underline; }
/*.header .nav li .box ul.ywtx li a span { font-size: 14px; display: block;  color: #f90; }
.header .nav li .box ul.ywtx li a span:hover {text-decoration: underline; }
.header .nav li .box ul.ywtx li a:hover {text-decoration: underline; }*/
.header .nav li .box ul.ywtx li a:hover {text-decoration:none; }


.text-center .col-sm-3 {
    width: 14.2857%;
    padding-right: 8px;
	padding-left: 8px;
	
}


.mini_h1 .icon {
    font-size: 34px;
    font-weight: 600;
}

.p11 {
    color: #4A4A4A;
    padding: 1.5rem 0 0;
    font-size: 18px;
    height: 5rem;
    line-height: 2.2rem;
}
.p2 {
    font-size: 13px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-align: left;
    padding: 0 15px;
}
.nav > li > a {
    padding: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color:inherit  !important;
}
.nav > li > a {
    padding: 0 !important;
}
.t1{ padding:80px;}
.t2{ color:#fff;}
.t3{ background:#F5F5F5}
.index-tittle{ font-size:28px; padding-bottom:50px;font-weight:normal}
.index-tittle-2{ font-size:18px; padding-bottom:20px;font-weight:normal}

#particles-js canvas{display:block;vertical-align:bottom;}
#particles-js{position:absolute;left:0px;top:0px;width:100%;height:477px;background-color: #02214F;background-image: -webkit-gradient(linear, left top, left bottom, from(#02214F), to(#1674B1));background-image: -webkit-linear-gradient(#02214F, #1674B1);background-image: linear-gradient(#02214F, #1674B1);}

.banCon1{

}

.demo2-bg{
    background-size: cover;
	position: relative;


	text-align: center;
	font-size: 22px;
	line-height: 48px;
	margin-top: -220px;



}
.demo2{
	position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;

}
.demo2 div{
	padding:130px;
	background:rgba(255,255,255,0.7);
	color: #333;
}

.titleContent{
	margin-top: 25%;
}


.about-demo2-bg{
    background-size: cover;
	position: relative;
}

.about-demo2 div{
	color: #fff;
}

.cover{
	position:absolute;left:0px;top:0px;
    background:rgba(0, 0, 0, 0.9);
    width:100%;  /*宽度设置为100%，这样才能使隐藏背景层覆盖原页面*/
    height:100%;
    filter:alpha(opacity=90);  /*设置透明度为60%*/
    opacity:0.75;  /*非IE浏览器下设置透明度为60%*/
    z-Index:998; 
}

.techBox h1{
	font-size:40px;
	font-weight:700;
	text-align: center;
}


.techBox h2{
	text-align: left;
	font-size:28px;
	font-weight:700
}

.daili-list ul li{ float:left; width:160px; margin:0 30px 45px; text-align:center;}
.daili-list ul li .item-box{position:relative;}
.daili-list ul li .item-box .tx-icon-pa{ position:absolute; left:0; top:5px;}
.daili-list ul li h3{ font-size:18px; font-weight:normal; padding-bottom:15px;}
.daili-list ul li p{ line-height:24px; padding-top:17px;font-size: 16px;}
.daili-list .daili-icon i{background:url(../images/icon/cp-icon.png) -501px -149px no-repeat;width:119px; height:130px; display:block; margin:auto; line-height:36px; font-size:24px; font-style:normal;}
.daili-list .daili-icon i b{ display:block}
.daili-list .daili-icon i:hover{ background-position:-379px -149px; color:#083769;transition:opacity 1s ease; cursor: pointer;}
.daili-zc ul li{ float:left; width:200px; margin:0 29px; border:1px solid #DCDCDC;border-radius:10px; padding:20px; text-align:center; background:#fff;box-shadow: 3px 5px 0px rgba(0,0,0,.04);}
.daili-zc ul li h2{ font-size:60px; font-weight:normal; padding-top:10px;}
.daili-zc ul li p{ font-size:16px; line-height:30px; padding:10px 0;}
.daili-jl ul{ margin-left:-30px; margin-right:-30px;}
.daili-jl ul li{ float:left; width:196px; min-height:215px; margin:0 29px;border-radius:3px; padding:30px; text-align:center; background:#fff;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.daili-jl ul li i{ display:block; width:75px; height:75px; background:url(../images/cp-icon.png) -501px -149px no-repeat; margin:15px auto 10px;}
.daili-jl ul li i.daili-jl-icon1{ background-position:0px -427px}
.daili-jl ul li i.daili-jl-icon2{ background-position:-75px -427px}
.daili-jl ul li i.daili-jl-icon3{ background-position:-150px -427px}
.daili-jl ul li i.daili-jl-icon4{ background-position:-225px -427px}
.daili-jl ul li i.daili-jl-icon5{ background-position:-300px -427px}
.daili-jl ul li i.daili-jl-icon6{ background-position:-375px -427px}
.daili-jl ul li i.daili-jl-icon7{ background-position:-450px -427px}
.daili-jl ul li i.daili-jl-icon8{ background-position:-525px -427px}
.daili-jl ul li i.daili-jl-icon9{ background-position:-472px -829px}
.daili-jl ul li i.daili-jl-icon10{ background-position:-547px -829px}
.daili-jl ul li i.daili-jl-icon11{ background-position:-622px -829px}
.daili-jl ul li i.daili-jl-icon12{ background-position:-697px -829px}
.daili-jl ul li h2{ font-size:18px; font-weight:normal; padding-top:10px;}
.daili-jl ul li p{ font-size:14px; color:#666; line-height:30px; padding:10px 0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.daili-jl ul li a{border: 1px solid #2CB9EA;padding: 5px 30px;display: inline-block;color: #2CB9EA;border-radius: 3px;}
.daili-jl ul li:hover{box-shadow: 0px 15px 30px rgba(0,0,0,.1);-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.daili-jl ul li a:hover { background:#2CB9EA; color:#fff}


/*右侧切换点*/
#fp-nav{_display: none;font-size: 12px; display: none;}
#fp-nav li{width: 90px;height: 11px;margin: 10px 0 0;vertical-align: middle;}
#fp-nav li a{float: right;width: 10px;height: 11px;text-decoration: none;text-align: right;background: url(../images/dot.png) center bottom no-repeat;}
#fp-nav li .active{background-position: 0 top;}
#fp-nav span{display: none;}
.fullPage-tooltip{float: left;top: 0;margin-right: 5px;font: 12px "Microsoft Yahei";color: #8F9DA4;line-height: 21px;}
.wrapBox{position: relative;z-index: 1;width: 100%;}
/*分屏*/
.section{position: relative;overflow: hidden;}
.section .bg{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
.section .bg img{display: block;width: 100%;height: auto;}
/*第一屏*/
.slideBox1{width: 100%;overflow:hidden;position:relative; height: 100%;}
.slideBox1 .hd{height:40px;width: 100%;overflow:hidden;position:absolute;right:0;bottom:110px;z-index:1;}
.pageState{color: #fff;font-size: 30px;}
.slideBox1 .bd{position:relative;height:100%;z-index:0;}
.slideBox1 .bd ul{width: 100% !important;}
.slideBox1 .bd ul li{zoom:1;vertical-align:middle; width: 100% !important;}
.slideBox1 .bd a{display: block;position: absolute;color: #fff; width: 100%; height: 100%;}
.section1 .video{width: 100%;}
.section1 .video video{width: 100%;height: 100%; top: 0; left: 0;}
.slideBox1 .bd a .banCon1{position: absolute; width: 100%; height: 100%; top: 460px; left: 0;}
.slideBox1 .bd a .banCon1 h1{font-size: 58px;width: 100%;position: absolute;z-index: 2;top: 440px;left: 50%;margin-left: -650px;opacity: 0;transition: all 1s;}
.section1.active .bd a .banCon1 h1{top: 60px;opacity: 1;transition-delay: 0.3s;}
.slideBox1 .bd a .banCon1 p{font-size: 19px;position: absolute;position: absolute;z-index: 2;top: 600px;left: 50%;margin-left: -650px;opacity: 0;transition: all 1s;}
.section1.active .bd a .banCon1 p{top: 260px;opacity: 1;transition-delay: 0.3s;}
.slideBox1 .bd img{width:100%;display:block;}
/* 前/后按钮代码 */
.slideBox .arrow{position: relative;}
.slideBox .arrow .prev,
.slideBox .arrow .next{position:absolute;z-index: 10;right: 66px;bottom: 110px;margin-top:-25px;display:block;width: 40px;height: 40px;background: url(../images/left_arrow.png) no-repeat;}
.slideBox .arrow .next{right: 16px;background: url(../images/right_arrow.png) no-repeat;}
/*第二屏*/
.education{top: 18%;position: relative;}
.education li{width: 378px;float: left;margin-right: 83px;position: relative;}
.education li .eduTit{font-size: 30px;font-weight: bold;}
.education li .eduTit a{display: block;color: #0280bb;text-align: left;}
.education li .img{position: relative; margin-top: 12%; overflow: hidden; border-radius: 5px;}
.education li .img img{display: block;width: 100%; transition: all 0.6s; border-radius: 5px; cursor: pointer;}
.education li .img:hover img{transform: scale(1.2);}
.education li .eduCon{position: relative; margin-top: 12%; height: 160px;}
.education li .eduCon a{display: block;margin-top: 12px;line-height: 28px;color: #373737;padding-left: 20px;background: url(../images/my_ico3.png) no-repeat left 10px;}
.education li .eduCon a:hover{color: #0280bb;background: url(../images/my_ico2.png) no-repeat left 10px;}
.education li .eduDetail{font-size: 12px;color: #0280BB;border-radius: 5px;display: block;margin: 56px 0 0 20px;width: 130px;height: 32px;text-indent: 12px;border: 1px solid #fff;background: url(../images/my_ico2.png) no-repeat 106px center;line-height: 32px;border: 1px solid #0280BB;}
.education li .eduDetail:hover{color: #FFFFFF; background:url(../images/my_ico4.png) no-repeat 106px center #0280BB;}
.education li.eduli3{float: right;margin-right: 0;}
.eduli1{margin-top: -100px;opacity: 0;transition: all 0.6s;}
.eduli2{margin-top: -300px; opacity: 0; transition: all 0.6s;}
.eduli3{margin-top: -500px; opacity: 0; transition: all 0.6s;}
.active .eduli1{margin-top: 0; opacity: 1; transition-delay: 0.6s;}
.active .eduli2{margin-top: 0px; opacity: 1; transition-delay: 0.6s;}
.active .eduli3{margin-top: 0; opacity: 1; transition-delay: 0.6s;}
/*第三屏*/
.section3{background: #0280bb;}
.news{width: 50%;}
.news h2{font-size: 60px;height: 120px; margin-top: 20%;position: relative; color: #fff;line-height: 1;font-weight: bold;}
.news ul li{margin-top: 12%; position: relative;}
.news .newTit{width: 142px;float: left;height: 80px;padding: 28px 0;border-right: 1px solid #6faecb;color: #fff;font-size: 36px;}
.newsR .newTit{margin-left: 58px;}
.news .newTit span{display: block;font-size: 18px;}
.news .newCon{width: 400px;float: left;margin-left: 40px;}
.news .newCon a{color: #fff;font-size: 16px;line-height: 32px;}
.news .newCon a:hover{text-decoration: underline;}
.news .newCon p{font-size: 14px;color: #fff;margin-top: 6px;line-height: 24px;}
.newDetail{width: 260px;padding: 0 20px;height: 50px;border: 3px solid #fff;border-radius: 5px;font-size: 14px;color: #fff;line-height: 50px;display: block;position: absolute; left: 50%; margin-left: -150px; bottom: -100%; background: url(../images/my_ico4.png) no-repeat 260px center;opacity: 0;transition: all 0.3s;}
.active .newDetail{opacity: 1;bottom: 4%;transition-delay: 0.5s;}
.newDetail:hover{background: #fff url(../images/my_ico2.png) no-repeat 260px center; color: #0280bb;}
.newsL h2{opacity: 0; margin-left: -100%; transition: all 0.3s;}
.newsR h2{opacity: 0; margin-right: -100%; transition: all 0.3s;}
.active .newsL h2{opacity: 1; margin-left: 0; transition-delay: 0.3s;}
.active .newsR h2{opacity: 1; margin-right: 0; transition-delay: 0.3s;}
.newsR h2{text-align: right;}
.newsL ul .newsL1{opacity: 0; margin-left: -100%; transition: all 0.4s;}
.active .newsL ul .newsL1{opacity: 1; margin-left: 0; transition: all 0.4s;}
.newsL ul .newsL2{opacity: 0; margin-left: -100%; transition: all 0.6s;}
.active .newsL ul .newsL2{opacity: 1; margin-left: 0; transition: all 0.6s;}
.newsR ul .newsR1{opacity: 0; right: -100%; transition: all 0.5s; position: relative;}
.active .newsR ul .newsR1{opacity: 1; right: 0; transition: all 0.5s;}
.newsR ul .newsR2{opacity: 0; right: -100%; transition: all 0.7s; position: relative;}
.active .newsR ul .newsR2{opacity: 1; right: 0; transition: all 0.7s;}
/*第四屏*/
.slideBox2{position:relative; margin-top: 12%;}
.slideBox2 .hd{height:15px;position:absolute;left:65px;bottom:8px;z-index:1;}
.slideBox2 .hd ul{zoom:1;float:left;}
.slideBox2 .hd ul li{float:left;margin-right:12px;width:40px;height:40px;line-height:40px;text-align:center;color: #03a1eb;cursor:pointer;border-radius: 100%;font-weight: bold;border: 2px solid #03a1eb;}
.slideBox2 .hd ul li.on{background:#03a1eb; color:#fff;}
.slideBox2 .bd{position:relative; height:100%; z-index:0;}
.slideBox2 .bd li{zoom:1; vertical-align:middle;}
.section4{background: #fff;}
.starL{width: 496px;height: 372px;background: #f3f6f8;padding: 56px 0 0 60px;}
.starL img{display: block;}
.starL p{font-size: 14px;color: #373737;line-height: 26px;margin-top: 30px; width:372px;}
.starR{background: #fff;width: 744px;float: left;}
.starR a{display: block;float: left;width: 100%;margin: 0 6px 6px 0;}
.starR a:nth-child(5n){margin-right: 0;}
.starR a:nth-child(16),.starR a:nth-child(17),.starR a:nth-child(18){display: none;}
/*footer*/
.section5{background: #f3f3f3;}
.footerWrap{ /*padding: 24px 0;*/ width: 100%; background: #eaeaea;  left: 0; bottom: 0; margin-top: 80px;clear: both;}
.footerWrapIndex{ /*padding: 24px 0;*/ width: 100%; background: #eaeaea;  left: 0; bottom: 0;}
.footer{height: 86px;}
.footL{width: 270px;}
.footL img{display: block;margin: 25px 0; position: relative; opacity: 0; left: -100%; transition: all 0.4s;}
.active .footL img{opacity: 1; left: 0; transition-delay: 0.4s;}
.footM{width: 828px;height: 86px;line-height: 1;font-size: 14px;color: #555; margin-left:250px; }
.footM .link{margin: 20px 0 0 40px; position: relative; opacity: 0; bottom: -100%; transition: all 0.3s;}
.active .footM .link{opacity: 1; bottom: 0; transition-delay: 0.3s;}
.footM a{display: block;float: left;color: #555;border-right: 1px solid #555555;padding: 0 20px;}
.footM a:last-child{border-right: 0;}
.footM a:hover{text-decoration: underline;}
.footM p{margin: 15px 0 0 60px;position: relative; opacity: 0; bottom: -100%;}
.footM p span{ margin-right:15px;}
.footM p.p1{transition: all 0.4s;}
.active .footM .p1{opacity: 1; bottom: 0; transition-delay: 0.4s;}
.footM p.p2{transition: all 0.5s;}
.active .footM .p2{opacity: 1; bottom: 0; transition-delay: 0.5s;}
.footR{width: 200px;}
.footR a{display: block;float: right;margin: 28px 20px; position: relative; opacity: 0;right: -100%;}
.footR .weibo{transition: all 0.5s;}
.active .footR .weibo{transition-delay: 0.5s; right: 0; opacity: 1;}
.footR .wechat{transition: all 0.35s;}
.active .footR .wechat{transition-delay: 0.35s; right: 0; opacity: 1;}
.active .footR .weibo{position: relative;}
.footR .wechatT{border-radius: 5px; position: absolute;top:-180px;left: -70px;box-shadow: 0 0 5px #ccc;border-radius: 5px;display: none; width: 160px; height: 160px; background: #fff; z-index: 99;}
.footR .wechatT em{display: block; width:0px; height:0px; border-left:10px solid transparent;  border-right:10px solid transparent; border-top:12px solid #fff; font-size:0px; line-height:0px; position: absolute; bottom: -12px; left: 50%;margin-left: -10px;z-index: 999;}
.weixins{display: block;width: 110px; margin: 4px auto 0;}
.footR .wechatT p{font-size: 12px; color: #333; text-align: center; padding: 0 6px;}
/*首页底部*/
.footerIndex{padding: 12px 0; opacity: 0.8;}
.footerIndex .footer{height: 46px;}
.footerIndex .footL img{margin: 5px 0;}
.footerIndex .footM{height: 46px;}
.footerIndex .footM p{margin: 10px 0 0 60px;position: relative; opacity: 0; bottom: -100%;}
.footerIndex .footM .p1{line-height: 18px;}
.footerIndex .footM .link{margin: 5px 0 0 40px; position: relative; transition: all 0.3s;}
.footerIndex .footR a{margin: 8px 20px;}
.footerIndex .footM .p1, .footerIndex .footM .p2{margin-top: 10;}

/*关于好未来1*/
.NenCon .footerWrap{position: relative;}
/* .NenHeader{margin-top: 20px;} */
/* .NenHeader .header{margin-top: 0;} */
.aboutbanner, .culturebanner, .socialbanner, .newsbanner, .contactbanner{width: 100%; position: relative;}
.aboutbanner img, .culturebanner img, .socialbanner img, .newsbanner img, .contactbanner img{display: block; width: 100%;}
.aboutbanner .w1300, .culturebanner .w1300, .socialbanner .w1300, .newsbanner .w1300, .contactbanner .w1300{position: absolute; height: 100%; left: 50%; margin-left: -650px; top: 0; color: #fff;z-index: 1000;}
.aboutbanner h2{font-size: 60px; text-align: center; font-weight: bold; margin-top: 16%; text-transform:uppercase}
.aboutbanner h3{font-size: 48px; text-align: center; margin-bottom: 60px;}
.aboutbanner p{font-size: 14px; line-height: 24px; margin-top: 24px;}
.aboutsec2{margin: 120px 0;}
.aboutsec2 ul li{float: left; width: 20%; padding-left: 5%; border-right: 1px solid #d9d9d9; margin-left: -1px;}
.aboutsec2 ul li.marr{border-right: 0;}
.aboutsec2 ul li p{font-size: 18px; color: #353535;}
.aboutsec2 ul li h2{font-size: 46px; color: #0280bb; font-weight: 600; margin: 12px auto;}
.aboutsec3{position: relative;}
.aboutsec3 img{display: block; width: 100%;}
.aboutsec3 .w1300{height: 100%; position: absolute; left: 50%; margin-left: -650px; top: 0;}
.aboutsec3 .ceol{width: 400px; float: left; color: #373737; position: absolute; left: 0; top: 50%; margin-top: -150px;}
.aboutsec3 .ceol h2{font-size: 60px;}
.aboutsec3 .ceol h3{font-size: 24px; margin-top: 10px;}
.aboutsec3 .ceol p{font-size: 14px; line-height: 24px; margin-top: 36px;}
.aboutsec3 .ceor{float: right; position: absolute; font-size: 72px; color: #0280bb; right: 0; top: 50%; margin-top: -72px; line-height: 1;text-transform:uppercase}
.aboutsec4{position: relative; padding-top: 200px;}
.aboutsec4 .img{display: block; margin: 0 auto; width: 100%;}
.aboutsec4 .zhilu-box {margin: 0 auto; position: absolute; width: 1300px; left: 50%; margin-left: -650px; top: 0px;}
.aboutsec4 .zl-road {position:relative; width:1300px; height:680px; overflow:hidden; margin: 80px auto 0;}
.aboutsec4 .zl-road .guodubar { height: 2px; background: #0280bb; position: absolute; top: 0px; left: 0.5%; width: 99%;}
.aboutsec4 .zl-road ul {position:absolute;left:0px}
.aboutsec4 .zl-road li {float:left; position: relative; width: 325px;}
.aboutsec4 .zl-road li span.line {display: block; width: 2px; height: 60px; background: #0280bb; margin: 0 auto;}
.aboutsec4 .zl-road li strong {display: block; width: 200px; height: 200px; border-radius: 100%; border: 2px solid #0280bb; color: #0280bb; font-size: 36px; text-align: center; line-height: 200px; margin: 0 auto;}
.aboutsec4 .zl-road li h1 { font-size: 14px; color: #373737; line-height: 24px; padding: 0 20px; margin-top: 58px;}
.aboutsec4 .zl-road li h1  p{ margin-top:5px;}
.aboutsec4 .zl-road li p b { font-size: 18px; color: #42495c; margin-bottom: 15px; display: block;  font-weight: normal;}
.aboutsec4 a.prev { background: url(../images/about_left.png) no-repeat; display: block; width: 45px; height: 21px; position: absolute; left: 0; bottom: 120px; z-index: 9;}
.aboutsec4 a.next { background: url(../images/about_right.png) no-repeat; display: block; width: 45px; height: 21px; position: absolute; right: 0; bottom: 120px; z-index: 9;}
.aboutsec4 .tit{font-size: 48px; color: #0280bb; line-height: 1.15; margin-top: 110px;}
.aboutsec4 .tit span{display: block; float: right;}
.aboutsec4 .tit span.english{float: left;text-transform: uppercase;}

/*关于好未来2*/
.culturebanner h2{font-size: 60px; text-align: center; font-weight: bold; margin-top: 30%; text-transform:uppercase; line-height: 1.25;}
.culturebanner h3{font-size: 48px; text-align: center; margin-top: 20px;}
.culturebanner2 h2{margin-top: 20%;}
.culturebanner2 h3{margin-top: 20px;}
.culturesec1, .culturesec2, .culturesec3, .culturesec4, .culturesec5{padding: 130px 0 110px;}
.culturesec h2{font-size: 60px; color: #0280bb; font-weight: bold; text-transform:uppercase; text-align: center;}
.culturesec h3{font-size: 36px; color: #353535; text-align: center; margin-top: 12px;}
.culturesec .culimg{display: block; margin: 70px auto;}
.culCon1{padding: 0 300px;}
.culCon1 p{font-size: 16px; color: #373737; line-height: 26px; margin-bottom: 24px;}
.culCon1 p span{font-size: 14px; display: block; text-indent: 40px;}
.culturesec2, .culturesec4{background: #f2f2f2;}
.culCon2 p{font-size: 16px; color: #373737; line-height: 26px; text-align: center;}
.culCon3 li{width: 50%; float: left; margin-bottom: 42px;}
.culCon3 li img{display: block; float: left; margin-left: 40px;}
.culCon3 li .wen{color: #373737; padding-left: 200px; min-height:220px;}
.culCon3 li .wen h4, .culCon4 li h4{font-size: 20px;}
.culCon3 li .wen p, .culCon4 li p{font-size: 14px; margin-top: 8px; line-height: 25px;}
.culCon4 li{float: left; width: 20%; text-align: center; color: #373737;}
.culCon4 li img{display: block; margin: 0 auto;}
.culCon4 li p{margin-top: 20px;}
.culContop5{margin-top: 120px;}
.culContop5 p{float: left; width: 500px; margin: 0 75px; font-size: 14px; color: #373737; line-height: 26px;}
.culConbm5{width: 968px; margin: 110px auto 0;}
.culConbm5 .cleafix{margin-top: 20px;}
.culConbm5 .fl{width: 539px; height: 336px; border-radius: 5px;}
.culConbm5 .img img{display: block; width: 100%; border-radius: 5px; min-height: 336px;}
.culConbm5 .fr{width: 408px; height: 336px; border-radius: 5px;}
.culConbm5 .blue{background: #0280bb; color: #fff; position: relative;}
.culConbm5 .blue h4{font-size: 36px; text-transform:uppercase; line-height: 1.25; font-weight: bold; padding: 40px 0 0 60px;}
.culConbm5 .blue h5{font-size: 24px; margin-top: 38px; padding-left: 60px;}
.culConbm5 .blue p{font-size: 16px; margin-top: 6px; padding-left: 60px;}
.culConbm5 .blue p span{display: block; float: left; margin: 20px 40px 0 0;}
.culConbm5 .blue .imgr{display: block; margin-top: 30px; padding-left: 60px;}
.culConbm5 .blue .imgl{display: block; position: absolute; right: 60px; top: 40px;}

/*社会责任*/
.socialbanner .w1300{top: 50%; margin-top: -140px; height: 335px;}
.socialbanner .w1300 img{display: block; width: auto; float: left; margin-left: 160px;}
.socialbanner .w1300 .wen{float: left; color: #fff; margin: 28px 0 0 65px;}
.socialbanner .w1300 .wen h3{font-size: 36px;}
.socialbanner .w1300 .wen h2{font-size: 60px;}
.socialbanner .w1300 .wen p{font-size: 24px;}
.socialsec1{background: #f5f5f5; padding: 40px 0;}
.socialsec1 img{display: block; float: left; width: 190px; border-radius: 100%;}
.socialsec1 .wen{padding-left: 220px;}
.socialsec1 .wen h2{font-size: 16px; color: #373737;}
.socialsec1 .wen p{font-size: 14px; color: #666; text-indent: 2em; line-height: 24px; margin-top: 16px;}
.wenhide{display: none; overflow-y: auto; padding: 20px 0; height: 80%; width: 76%; background: #fff; border-radius: 3px; position: fixed; left: 12%; top: 10%; margin-left: -20px; z-index: 100;}
.wenhide h2{font-size: 16px; text-align: center; color: #373737; padding: 6px 0;}
.wenhide p{font-size: 14px; padding: 0 20px; color: #555; text-indent: 2em; line-height: 26px; margin-top: 10px;}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
.wenhide::-webkit-scrollbar{width: 10px; height: 10px; background-color: #f1f1f1;}  
/*定义滚动条轨道 内阴影+圆角*/  
.wenhide::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1); border-radius: 10px; background-color: #f1f1f1;}  
/*定义滑块 内阴影+圆角*/  
.wenhide::-webkit-scrollbar-thumb{border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.1); background-color: #888;} 	
.wenhide .Wclose{display: block;position: absolute; width: 32px; height: 32px; background: #aaa; color: #fff; font-size: 36px; text-align: center; line-height: 28px; cursor: pointer; border-radius: 100%; top: 10px; right: 10px;}
.socialsec1 a{display: block; width: 170px; height: 40px; border: 1px solid #efefef; background: #fbfbfb; line-height: 40px; text-align: center; margin: 32px auto 0; color: #555;}
.socialsec2{margin: 100px 0;}
.socialsec2 .tit{text-align: center;}
.socialsec2 .tit img{display: inline-block;}
.socialsec2 .tit span{display: inline-block; color: #666; font-size: 28px; text-align: center; padding-left: 30px;}
.socialsec2 .tit span em{display: block; font-size: 12px;}
.socialsec2 .tit p{font-size: 14px; color: #999; width: 1060px; text-align: center; margin: 30px auto;}
.socialsec2 ul{margin-top: 36px;}
.socialsec2 ul li{float: left; width: 280px; padding: 40px 76px; border-left: 1px solid #f8f8f8; text-align: center; cursor: pointer;}
.socialsec2 ul li.li1{border-left: 0;}
.socialsec2 ul li i{display: block; widows: 140px; height: 140px; margin: 0 auto;}
.socialsec2 ul li h2{font-size: 28px; color: #666; margin: 20px auto 12px;}
.socialsec2 ul li p{font-size: 14px; color: #999; line-height: 24px;}
.socialsec2 ul li.li1 i{background: url(../images/b10.png) no-repeat center;}
.socialsec2 ul li:hover.li1 i{background: url(../images/b11.png) no-repeat center;}
.socialsec2 ul li.li2 i{background: url(../images/b12.png) no-repeat center;}
.socialsec2 ul li:hover.li2 i{background: url(../images/b13.png) no-repeat center;}
.socialsec2 ul li.li3 i{background: url(../images/b14.png) no-repeat center;}
.socialsec2 ul li:hover.li3 i{background: url(../images/b15.png) no-repeat center;}
.socialsec2 a{display: block; width: 170px; height: 40px; border: 1px solid #efefef; background: #fbfbfb; line-height: 40px; text-align: center; margin: 70px auto 0; color: #555;}
.socialsec2 a:hover, .socialsec1 a:hover, .socialsec3 .socon .wen .con a:hover{background: #00a0e9; border: 1px solid #00a0e9; color: #fff; }
.socialsec3 {background: #f9f9f9; padding: 10px 0 80px;}
.socialsec3 .socon{margin-top: 86px; position: relative;}
.socialsec3 .socon .img{width: 570px; border-radius: 5px; position: relative; z-index: 2;}
.socialsec3 .socon .img img{display: block; width: 100%; border-radius: 5px; min-height: 450px;}
.socialsec3 .socon .wen{width: 730px; position: relative;}
.socialsec3 .socon .wen h2{font-size: 28px; color: #666; padding-left: 60px; line-height: 48px; font-weight: bold;}
.socialsec3 .socon .wen h3{font-size: 14px; color: #999; padding-left: 60px;}
.socialsec3 .socon .wen .con{position: absolute; width: 820px; background: #fff; border-radius: 5px; right: 0; top: 96px; height: 380px;}
.socialsec3 .socon .wen .con p{padding: 32px 90px 0 154px; font-size: 15px; color: #666; line-height: 28px;}
.socialsec3 .socon .wen .con p.p{padding-top: 62px;}
.socialsec3 .socon .wen .con a{display: block; width: 170px; height: 40px; border: 1px solid #efefef; background: #fff; line-height: 40px; text-align: center; color: #555; position: absolute; left: 154px; bottom: 20px;}
.socialsec3 .socon .cenimg{position: absolute; z-index: 5;}
.socialsec3 .socon2 .cenimg{right: 520px; top: 200px;}
.socialsec3 .socon1 .cenimg{left: 520px; top: 200px;}
.socialsec3 .socon2 .wen .con{left: 0; right: auto;}
.socialsec3 .socon2 .wen .con p{padding: 32px 154px 0 70px;}
.socialsec3 .socon2 .wen h2{padding-right: 60px; line-height: 90px; text-align: right;}
.socialsec3 .socon1 .wen1 h2{line-height: 90px;}
.socialsec4{background: #fff; padding: 110px 0 60px 0;}
.socialsec4 .w1300{position: relative;}
.socialsec4 .socon{width: 640px;}
.socialsec4 .socon .img{width: 320px; margin: 0 auto; height: 320px; border-radius: 100%; overflow: hidden; position: relative; z-index: 2;}
.socialsec4 .socon .img img{display: block; width: 100%; border-radius: 100%; min-height: 320px;}
.socialsec4 .socon .img p{font-size: 18px; text-align: center; height: 70px; line-height: 70px; text-align: center; color: #fff; background: rgba(0,0,0,0.5); position: absolute; left: 0; bottom: 0; width: 100%;}
.socialsec4 .socon .wen{background: #f9f9f9; height: 130px; padding-top: 190px; width: 100%; margin-top: -160px;}
.socialsec4 .socon .wen p{font-size: 14px; color: #666; padding: 0 40px; line-height: 24px;}
.socialsec4 .title{font-size: 28px; color: #666; font-weight: bold; position: absolute; width: 100%; text-align: center; top: 46px;}
.socialsec5{background: #f9f9f9; padding: 70px 0 110px 0;}
.socialsec5 .title{font-size: 28px; color: #666; font-weight: bold; text-align: center;}
.socialsec5 h3{font-size: 15px; color: #999; text-align: center; margin: 12px 0;}
.socialsec5 .parBd ul{ overflow:hidden; zoom:1;   }
.socialsec5 .parBd ul li{float:left; overflow:hidden; text-align:center;  }
.socialsec5 .socon .parBd ul li{margin-right: 60px;}
.socialsec5 .socon .parBd ul .Alist{float:left; cursor: pointer; height: 350px; text-align:center; width: 280px; border-radius: 5px; overflow: hidden; background: #fff; position: relative;}
.socialsec5 .socon .parBd ul .Alist.marr{margin-right: 0;}
.socialsec5 .socon .parBd ul li img{display: block; width: 100%;}
.socialsec5 .socon .parBd ul li p{font-size: 14px; color: #666; padding: 20px 16px; line-height: 26px; text-align: left;}
.socialsec5 .socon .parBd ul li a{display: block; width: 106px; height: 30px; line-height: 30px; text-align: center; color: #666; background: #f9f9f9; margin: 0 auto; position: absolute; bottom: 20px; left: 50%; margin-left: -53px;}
.socialsec5 .socon .parBd ul li .Alist:hover a{color: #fff; background: #00a0e9;}
.socialsec5 .slideB{ overflow:hidden; zoom:1; position:relative;}
.socialsec5 .sPrev,.socialsec5 .sNext{position: absolute;left: 0; top: 50%; margin-top: -26px; display: block; width: 21px; height: 52px; background: url(../images/next.png) no-repeat; z-index: 10; display: block;}
.socialsec5 .sNext{left: auto;right: 0;background-position: 0 bottom;}
.socialsec5 .socon .parHd{margin-top: 24px; position: relative;}
.socialsec5 .socon .tabArrow{position: relative;margin-top: 24px;}
.socialsec5 .socon .tabArrow .prev{width: 28px; height: 28px; border: 1px solid #cccccc; float: left; background: url(../images/about_left2.png) no-repeat; position: absolute; left: 0; z-index: 2;}
.socialsec5 .socon .tabArrow .next{width: 28px; height: 28px; border: 1px solid #cccccc; float: right; background: url(../images/about_right2.png) no-repeat; position: absolute; right: 0; z-index: 2;}


/*效果样式新增*/
#cbtn{position:relative; height:40px; margin-top:40px; }
#cbtn ul{position:relative; width:10000px; height:40px;}
#cbtn ul li{ float:left; padding:8px 0 0 0; width: 120px; cursor:pointer; text-align:center; position:relative;}
#cbtn li.hov{ color: #ff9900;}
#cSlideUl{width:1200px; height:40px;overflow:hidden; position:relative; top:-7px; margin:0 auto;}
.picSildeLeft{cursor:pointer; position:absolute; top:-15px; left:0; z-index:9; border: 1px solid #ccc;}
.picSildeRight{cursor:pointer; position:absolute; top:-15px; right:0; z-index:9; border: 1px solid #ccc;}
#cbtn ul li i{display: block; width: 10px; height: 10px; background: #ccc; margin: -5px auto 10px; border-radius: 100%; z-index: 9;}
#cbtn ul li.hov i{background: #ff9900;}
#cbtn .line{width: 100%; position: absolute; left: 0; top: 0; border-bottom: 1px solid #ccc;}

/*未来之星*/
.starsec1{width: 100%; height: 300px; background: #fcfcfc url(../images/b01.png) no-repeat center; background-size: cover;}
.starsec1 img{display: block; float: left; margin: 56px 0 0 40px;}
.starsec1 .wen{padding-left: 240px;}
.starsec1 .wen .wentp{margin-top: 46px;}
.starsec1 .wen .wentp h2{font-size: 28px; color: #666; font-weight: bold;}
.starsec1 .wen p{font-size: 14px; color: #666; line-height: 28px; margin-top: 12px;}
.wenbm{margin-top: 36px;}
.wenbm .fl{width: 250px;}
.wenbm .fr{width: 700px;}
.wenbm h2{border-bottom: 1px solid #ccc; font-size: 24px; color: #555;}
.wenbm h2 span{display: inline-block; border-bottom: 4px solid #8ec320; width: 80px;} 
.starsec2{background: #fff; padding: 80px 0;}
.starsec2 h2{font-size: 28px; color: #555; font-weight: bold; text-align: center;}
.starsec2 p{font-size: 14px; line-height: 28px; text-align: center; color: #666; margin-top: 16px;}
.starsec2 ul{margin-top: 86px;}
.starsec2 ul li{float: left; width: 19%; padding: 24px 0 38px; border-left: 1px solid #ccc; margin-left: -1px;}
.starsec2 ul li.marr{border-left: 0;}
.starsec2 ul li img{display: block; margin: 0 auto;}
.starsec2 ul li p{margin-top: 24px;}
.starsec2 .apply{display: block; width: 200px; height: 44px; margin: 60px auto 0; line-height: 44px; text-align: center; font-size: 16px; color: #666; border: 1px solid #ccc; border-radius: 3px;}
.starsec2 .apply:hover, .layuiBox a:hover{background: #1b4a6e; border: 1px solid #1b4a6e; color: #fff; }
/*公共遮罩*/
.layuiBg { display: none; background-color: #000; position: fixed; z-index: 99; left: 0; top: 0; width: 100%; height: 100% !important; opacity: 0.5; filter: alpha(opacity=50); -moz-opacity: 0.5; }
/*视频播放弹窗*/
.layuiBox { display: none; background: #fff; border-radius: 3px; position: fixed; left: 50%; top: 50%; margin: -200px 0 0 -300px;  height: auto; z-index: 100; width: 600px; height: 400px; animation: bounceIn .3s; -moz-animation: bounceIn .3s; -webkit-animation: bounceIn .3s; -o-animation: bounceIn .3s; }
.layuiBox p{font-size: 14px; color: #666; line-height: 28px; text-align: center; padding: 40px 100px;}
.layuiBox img{display: block; margin: 0 auto;}
.layuiBox a{width: 130px; height: 40px; line-height: 40px; text-align: center; display: block; margin: 30px auto 0; border: 1px solid #ccc; font-size: 14px;}
.starsec3{padding: 40px 0; background: #FCFCFC;}
.starsec h2.btit{font-size: 24px; text-align: center; color: #555;}
.starsec h3.benglish{font-size: 14px; color: #ccc; text-align: center; text-transform: uppercase;}
.starsec span.bspan{width: 54px; display: block; margin: 10px auto 0; border-bottom: 1px solid #8ec320; }
.starsec p.bp{text-align: center; font-size: 14px; color: #666; margin-top: 18px;}
.starsec strong.bstrong{display: block; margin: 24px auto 0; width: 120px; position: relative;}
.starsec strong.bstrong em{display: block; margin: 0 auto;/* width: 80px;*/ width: 120px; height: 36px; line-height: 36px; text-align: center; border-radius: 5px; color: #8ec320; font-size: 20px; background: #fff; position: relative; z-index: 2;}
.starsec strong.bstrong b{display: block;/* width: 120px; left: 0;*/ width: 160px; position: absolute; left: -20px; top: 17px; height: 2px; background: #8ec320;}
.blist{margin-top: 44px;}
.blist li{float: left; -webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out; cursor: pointer; position: relative; width: 280px; overflow: hidden; background: #fff; border-radius: 5px; height: 400px; margin-right: 60px;}
.blist li.marr{margin-right: 0;}
.blist li img{display: block; width: 100%;}
.blist li .show{text-align: center;}
.blist li .show h2{font-size: 18px; color: #555; margin: 32px auto 18px;}
.blist li .show p{font-size: 14px; color: #666;}
.blist li .hide{position: absolute; left: 0; bottom: -100%; width: 100%; background: #fff; z-index: 1;}
.blist li .hide h2{font-size: 18px; color: #555; padding: 24px 0 12px; text-align: center;}
.blist li .hide p{font-size: 14px; color: #666; text-indent: 2em; line-height: 24px; padding: 0 20px;}
.blist li:hover .hide{bottom: 0;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;transition: all .5s ease-in-out;}
.starsec4, .starsec6{padding: 40px 0; background: #fff;}
.starsec4 .blist li{background: #FCFCFC;}
.starsec5{padding: 40px 0 50px; background: #FCFCFC;}
.starcon {margin-top: 50px;}
.starcon .starconl{width: 620px; height: 400px; overflow: hidden; position: relative; cursor: pointer;}
.starcon .starconl img{display: block; width: 100%;transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out;}
.starcon .starconl:hover img{transform: scale(1.2);}
.starcon .starconl .date{position: absolute; background: #8ec320; left: 0; top: 0; width: 90px; height: 66px; color: #fff; text-align: center; font-size: 28px; font-weight: bold;}
.starcon .starconl .date span{display: block; font-size: 14px; font-weight: normal;}
.starcon .starconl .wen{position: absolute; width: 100%; height: 90px; background: rgba(255,255,255,0.5); left: 0; bottom: 0;}
.starcon .starconl .wen a{font-size: 20px; display: block; color: #555; padding-left: 16px; margin: 18px 0 4px 0;}
.starcon .starconl .wen p{font-size: 14px; color: #666; padding-left: 16px;}
.starcon .starconl:hover .wen a{color: #8ec320;}
.starcon .starlist{width: 660px; margin-top: -25px;}
.starcon .starlist li{margin-top: 25px;}
.starcon .starlist li .date{float: left; width: 90px; height: 80px; border-right: 4px solid #8ec320; color: #999; font-size: 28px; text-align: center; font-weight: bold;}
.starcon .starlist li .date span{display: block; font-size: 14px; font-weight: normal;}
.starcon .starlist li .wen{float: right; width: 550px;}
.starcon .starlist li .wen a{font-size: 16px; color: #333; display: block;overflow:hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-moz-text-overflow:ellipsis;white-space:nowrap;}
.starcon .starlist li .wen p{font-size: 14px; color: #666; margin-top: 8px;word-break:break-all;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden;}
.starcon .starlist li .wen a:hover{color: #8ec320; text-decoration: underline;}
.starsec6 img{display: block; margin: 0 auto;}
.starsec6 p{text-align: center; font-size: 14px; color: #666; line-height: 28px; margin-top: 16px;}
.starsec6 p a{display: inline-block; color: #0280bb;}
.starsec6 p.p{margin-top: 0px;}
.starsec6 p.p span{display: inline-block; padding: 0 12px;}

/*新闻中心-内容页*/
.newsCon{background: #fafafa; padding-top: 30px;}
.newsCon .title{width: 100%; font-size: 14px; margin: 16px auto;}
.newsCon .title a{display: inline-block; color: #666; line-height: 18px;}
.newsCon .title a.marr, .newsCon .title a:hover{color: #0280bb;}
.newsCon .title b{display: inline-block; height: 12px; width: 1px; border-left: 1px solid #ccc; margin: 0 10px;}
.newsWen{background: #fff; margin-bottom: 60px; border-radius: 3px; border: 1px solid #eee; padding: 70px; min-height:530px;}
.newsWen h2{font-size: 28px; color: #555; text-align: center;}
.newsWen h3{font-size: 14px; border-bottom: 1px solid #eee; text-align: center; padding: 20px 0; color: #888;}
.newsWen img{display: block; margin: 8px auto;}
.newsWen p{font-size: 14px; text-indent: 1em; line-height: 26px;/* margin-top: 12px;*/ color: #666; text-indent:28px;}
/*企业动态*/
.dynamic{background: #FCFCFC;}
.dynamic .title {margin: 30px auto 0;}
.dynamic .title a.chico{display: block; float: left; width: 130px; height: 40px; line-height: 40px; text-align: center; font-size: 16px; color: #555; margin: 0 10px; background: #fff; border: 1px solid #eee; border-radius: 3px;}
.dynamic .title a.chico:hover, .dynamic .title a.chico.cur{color: #fff; background: #0997dc; border: 1px solid #0997dc;}
.dynamic .title .filter{float: right;}
.dynamic .years-sort .lec-dropdown { float: left; position: relative;}
.lec-sort{float: right; position: relative;}
.dynamic .lec-years { margin-right: 28px; position: relative; float: left;}
.dynamic .lec-dropdown span { color: #999; display: inline-block; padding-right: 20px; position: relative; cursor: pointer;}
.dynamic .lec-dropdown span i { display: block; background: url(../images/my_ico17.png) no-repeat; width: 14px; height: 14px; position: absolute; top: 4px; right: 0;}
.dynamic .lec-dropdown .dp-box { display: none; position: absolute; top: 36px; left: -12px; background: #fff; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border: 1px solid #e4e7ea; z-index: 1;}
.dynamic .lec-dropdown.lec-years .dp-box { width: 98px;}
.dynamic .lec-dropdown.lec-sort .dp-box { width: 122px;}
.dynamic .lec-dropdown.lec-sort .dp-box {left: -40px;}
.dynamic .lec-dropdown .dp-box em { display: block; width: 9px; height: 6px; background: url(../images/my_ico20.png) no-repeat; position: absolute; top: -5px; left: 43px; }
.dynamic .lec-dropdown.lec-sort  .dp-box em{left: 53px}
.dynamic .lec-dropdown .dp-box ul { max-height: 310px; overflow-y: auto; margin: 10px 0;}
.dynamic .lec-dropdown .dp-box ul li { line-height: 30px; text-align: center}
.dynamic .lec-dropdown .dp-box ul li a { display: block; color: #999; font-size: 12px;}
.dynamic .lec-dropdown .dp-box ul li a:hover { color: #0997dc;}
.dynamic .lec-dropdown.active span { color: #0997dc;}
.dynamic .lec-dropdown.active span i { background-position: 0 -14px;}


.dynamic .list{margin-top: 20px;}
.dynamic .list li{float: left; cursor: pointer; width: 618px; padding: 10px; border: 1px solid #fcfcfc; margin-bottom: 30px; min-height:135px;}
.dynamic .list li.marr{float: right;}
.dynamic .list li img{display: block; float: left; width: 180px;}
.dynamic .list li .wen{float: right; width: 420px;}
.dynamic .list li .wen a{display: block; font-size: 16px; color: #373737; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.dynamic .list li .wen p{font-size: 14px; color: #666; margin: 24px 0;}
.dynamic .list li .wen span{display: block; font-size: 14px; color: #999;}
.dynamic .list li:hover{background: #fff; border: 1px solid #eee;box-shadow: 2px 0 4px rgba(0,0,0,0.1);}
.dynamic .list li:hover .wen a{color: #0997dc;}





/*翻页*/
.hwl-Spage { text-align: center; padding: 20px 0 75px;}
.hwl-page-wrap { text-align: center; color: #bfc2c6; line-height: 29px;}
.hwl-page-wrap a { display: inline-block; width: 29px; height: 29px; background: #fff; border: 2px solid #eff2f5; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; text-align: center; line-height: 29px; color: #667685; margin: 0 5px;}
.hwl-page-wrap a:hover { border-color: #0997dc;}

.hwl-page-wrap span { display: inline-block; width: 29px; height: 29px; background: #fff; border: 2px solid #eff2f5; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%; text-align: center; line-height: 29px; color: #667685; margin: 0 5px;}
.hwl-page-wrap span.current { background: #0997dc; color: #fff; border-color: #0997dc;}
.hwl-page-wrap a.prev { position: relative; *top: 3px !important;}
.hwl-page-wrap a.prev em.ico-pre { display: inline-block; width: 6px; height: 11px; background: url(../images/my_ico22.png) no-repeat center;}
.hwl-page-wrap a.next em.ico-next { display: inline-block; width: 6px; height: 11px; background: url(../images/my_ico18.png) no-repeat center;}
.hwl-page-wrap a.next em { position: relative; *top: 10px !important;}

/*科技*/
.technology {position: relative; color: #fff;}
.technology img{display: block; width: 100%;}
.technology h2{font-size: 60px; position: absolute; width: 100%; text-align: center; left: 0; top: 42%; text-transform: uppercase;}
.technology h3{font-size: 48px; width: 100%; position: absolute; left: 0; top: 54%; text-align: center;}
.technologyCon .menu-tab{padding-top: 50px; width: 1150px; margin: 0 auto;}
.technologyCon .menu-tab li, .investment .menu-tab li{float: left; margin: 0 53px; height: 100px; cursor: pointer; line-height: 100px; border-bottom: 3px solid #fff; font-size: 16px; color: #373737;}
.technologyCon .menu-tab li.active, .investment .menu-tab li.active{border-bottom: 3px solid #0280bb; color: #0280bb;}
.techBox{border-top: 1px solid #ccc; padding-bottom: 80px;} 
.techBox .tab-con{display: none;}
.techBox .tab-con.active{display: block;}
.techBox .contain{margin: 0 50px;}
.techBox .tab-con h2.tit{font-size: 24px; margin: 80px auto 0; color: #454545; text-align: center; line-height: 1.5;}
.techBox .contain .conne{width: 100%; margin-top: 80px; border-radius: 5px; overflow: hidden;}
.techBox .contain .conne .connel{width: 345px; height: 336px; float: left; position: relative; background: #0280bb url(../images/my_ico19.png) no-repeat bottom right; color: #fff;}
.techBox .contain .conne .connel h3{font-size: 36px; padding: 56px 0 0 56px;}
.techBox .contain .conne .connel h4{font-size: 18px; padding-left: 56px; margin: 10px 0;}
.techBox .contain .conne .connel h5{text-transform: uppercase; font-size: 14px; padding-left: 56px;}
.techBox .contain .conne .connel h5 a{text-transform: uppercase; font-size: 14px; position: static; text-decoration:none;}
.techBox .contain .conne .connel a{display: inline-block; position: absolute;  bottom: 50px; font-size: 14px; color: #fff;left: 56px;}
.techBox .contain .conne .connel a img{display: inline-block; float: right; margin: 6px 0 0 6px;}
.techBox .contain .conne .connel a:hover{text-decoration: underline;}
.techBox .contain .conne .conner{float: left; width: 855px;}
.techBox .contain .conne .conner img{display: block; width: 100%;}
.contain .img{display: block; margin: 80px auto 40px;}
.contain .img img{display: block; margin: 0 auto;}
.contain .p{font-size: 14px; color: #373737;/* margin-top: 30px; line-height: 24px;*/ line-height:30px; text-indent:28px;}

/*好未来-科技-战略投资*/
.investment .menu-tab{padding-top: 50px; width: 640px; margin: 0 auto;}
.invCon{padding: 70px 0; border-bottom: 1px solid #ccc;}
.invCon .invTit{font-size: 48px; height: ; line-height: 1.15;}
.invCon .invTit span{display: block; float: right;}
.invCon .invTit span.english{color: #0280bb; float: left;text-transform: uppercase; font-weight: 600;}
.invCon p{font-size: 16px; color: #373737;  line-height:35px;}
.invTab {margin-top: 86px;}
.invTab .invTab-menu{border-top: 3px solid #dadada; border-right: 3px solid #dadada;}
.invTab .invTab-menu li{float: left; cursor: pointer; width: 430px; height: 150px; border-bottom: 3px solid #dadada; border-left: 3px solid #dadada; margin-left: -2px;}
.invTab .invTab-menu li.invli1{background: url(../images/inv1.png) no-repeat center;}
.invTab .invTab-menu li.invli2{background: url(../images/inv2.png) no-repeat center;}
.invTab .invTab-menu li.invli3{background: url(../images/inv3.png) no-repeat center;}
.invTab .invTab-menu li.invli4{background: url(../images/inv4.png) no-repeat center;}
.invTab .invTab-menu li.invli5{background: url(../images/inv5.png) no-repeat center;}
.invTab .invTab-menu li.invli6{background: url(../images/inv6.png) no-repeat center;}
.invTab .invTab-menu li.invli1.active{background: url(../images/inv1-1.png) no-repeat center;}
.invTab .invTab-menu li.invli2.active{background: url(../images/inv2-1.png) no-repeat center;}
.invTab .invTab-menu li.invli3.active{background: url(../images/inv3-1.png) no-repeat center;}
.invTab .invTab-menu li.invli4.active{background: url(../images/inv4-1.png) no-repeat center;}
.invTab .invTab-menu li.invli5.active{background: url(../images/inv5-1.png) no-repeat center;}
.invTab .invTab-menu li.invli6.active{background: url(../images/inv6-1.png) no-repeat center;}
.invTab .invTab-box {display: none; background: #0280bb; margin-top: 40px; color: #fff; border-radius: 3px; padding: 60px 0;}
.invTab .invTab-box.active{display: block;}
.invTab .invTab-box h2{font-size: 36px; padding: 0 60px;}
.invTab .invTab-box h2 span{display: inline-block; font-size: 12px;}
.invTab .invTab-box p{font-size: 14px; margin-top: 30px; color: #fff; padding: 0 60px; line-height: 25px;}
.invTab .invTab-box a{display: inline-block; font-size: 14px; color: #fff;left: 56px;padding: 0 60px;margin-top: 30px;}
.invTab .invTab-box a img{display: inline-block; float: right; margin: 6px 0 0 6px;}
.invTab .invTab-box a:hover{text-decoration: underline;}
.inebmCon ul li{float: left; width: 25%; text-align: center; margin-top: 60px;}
.inebmCon ul li img{display: block; margin: 0 auto;}
.inebmCon ul li p{font-size: 14px; color: #373737; margin-top: 28px; line-height: 28px; padding: 0 40px; height: 84px;}


@media screen and ( max-width:1440px ) {
	/*首页*/
	.w1300{ width:1200px; margin:0 auto;}
	.slideBox1 .hd{bottom: 80px;}
	.header .headNav{width: 758px;}
	.slideBox1 .bd a .banCon1 h1, .slideBox1 .bd a .banCon1 p{margin-left: -550px;}
	.education li{margin-right: 33px;}
	.news h2{font-size: 36px; line-height: 1.25; height: 80px;}
	.news .newCon a{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
	.news .newCon{width: 350px;}
	.education li .eduTit{font-size: 28px;}
	.section1 .bd {bottom: 30px;}
	.section1.active .bd a .banCon1{top: 300px;}
	.section1.active .bd a .banCon1 h1{top: 0; font-size: 40px;}
	.section1.active .bd a .banCon1 p{top: 130px;}
	.education li .eduCon, .education li .img{margin-top: 6%;}
	.education li .eduDetail{margin-top: 22px;}
	.education li .eduCon a{line-height: 22px; margin-top: 6px;}
	.news ul li{margin-top: 26px;}
	.news h2{margin-top: 18%;}
	.active .newDetail{bottom: 3%;}
	.slideBox2{margin-top: 8%;}
	.starL{height: 323px; width: 542px; padding: 20px 0 0 60px;}
	.education li .eduCon{height: 140px;}
	.starL p{width: 500px;}
	.starL p{margin-top: 16px; line-height: 24px;}
	.starR{width: 598px;}
	.starR a{width: 100%;}
	.starR a img{display: block; width: 100%;}
	.starR a:nth-child(5n){margin-right: 6px;}
	.starR a:nth-child(6n){margin-right: 0;}
	.starR a:nth-child(16),.starR a:nth-child(17),.starR a:nth-child(18){display: block;}
	.footerWrap{padding: 12px 0;}
	.footL{width: 220px;}
	.footM{width: 700px;}
	/*关于好未来1*/
	.aboutbanner .w1300, .aboutsec3 .w1300{margin-left: -600px;}
	.aboutbanner h2{margin-top: 10%; font-size: 48px;}
	.aboutbanner h3{margin-bottom: 40px; font-size: 36px;}
	.aboutsec4 .zhilu-box{width: 1200px; margin-left: -600px;}
	.aboutsec4 .tit{font-size: 32px; margin-top: 70px;}
	.aboutsec4 .zl-road li{width: 300px;}
	.aboutsec4 .zl-road{width: 1200px; margin: 60px auto 0; height: 600px;}
	.aboutsec4 .zl-road li strong{width: 160px; height: 160px; line-height: 160px;}
	.aboutsec4 .zl-road li p{margin-top: 36px;}
	.aboutsec4 a.prev { width: 69px; height: 23px; position: absolute; left: 0; bottom: 120px; z-index: 9;}
    .aboutsec4 a.next { width: 69px; height: 23px; position: absolute; right: 0; bottom: 120px; z-index: 9;}
	/*.aboutsec4 .img {height: 560px;}*/
	.aboutsec2 ul li h2{font-size: 36px;}
	.aboutsec3 .ceol h2{font-size: 48px;}
	.aboutsec3 .ceor{font-size: 52px;}
	/*关于好未来2*/
	.culturebanner h2{font-size: 42px; margin-top: 25%;}
	.culturebanner h3{font-size: 36px;}
	.culturesec1, .culturesec2, .culturesec3, .culturesec4, .culturesec5{padding: 100px 0 80px 0;}
	.culturesec h2{font-size: 42px;}
	.culturesec h3{font-size: 28px;}
	.culturesec .culimg{margin: 52px auto;}
	.culCon1 p{font-size: 15px; line-height: 25px; margin-bottom: 18px;}
	.culContop5 p{width: 400px;}
	/*社会责任*/
	.socialbanner .w1300 img{width: 240px; margin-left: 220px;}
	.socialbanner .w1300 .wen h3{font-size: 32px;}
	.socialbanner .w1300 .wen h2{font-size: 48px;}
	.socialbanner .w1300 .wen p{font-size: 20px;}
	.socialsec2 ul li{padding: 40px 59px;}
	.socialsec3 .socon .wen{width: 630px;}
	.socialsec3 .socon .wen .con{width: 720px;}
	.socialsec4 .socon{width: 590px;}
	.socialsec5 .socon .parBd ul li{margin-right: 26px;}
	/*未来之星*/
	.wenbm .fr{width: 600px;}
	.blist li{margin-right: 26px;}
	.starcon .starlist{width: 570px;}
	.starcon .starlist li .wen{width: 460px;}
	/*动态*/
	.dynamic .list li{width: 568px;}
	.dynamic .list li .wen{width: 370px;}
	/*科技*/
	.techBox .contain .conne .connel{height: 297px;}
	.techBox .contain .conne .conner{width: 755px;}
	.invCon{padding: 60px 0;}
	.invCon .invTit{font-size: 32px; height: ; line-height: 1.15;}
	.invTab .invTab-menu li{width: 398px;}
	.culCon3 li .wen p{min-height: 210px;}
	.culturebanner2 h2{margin-top: 15%;}
}

/*2017/10/28新页面*/
/*新闻中心*/
.newsbanner h2{font-size: 60px; text-align: center; font-weight: bold; margin-top: 18%; text-transform:uppercase}
.newsbanner h3{font-size: 48px; text-align: center; margin-bottom: 60px;}
.newstab .menu-tab, .newinvestment .menu-tab{padding-top: 50px; width: 360px; margin: 0 auto;}
.newstab .menu-tab li, .newinvestment .menu-tab li{float: left; width: 50%; text-align: center; height: 100px; cursor: pointer; font-size: 30px; color: #373737;}
.newstab .menu-tab li a, .newinvestment .menu-tab li a{display: inline-block;border-bottom: 3px solid #fff; line-height: 97px;}
.newstab .menu-tab li.active a, .newinvestment .menu-tab li.active a{border-bottom: 3px solid #0280bb; color: #0280bb;}
.newscontain{border-top: 1px solid #cdcdcd; padding: 20px 0 90px;}
.newscontain ul li{width: 33.33%; margin-top: 80px; float: left;}
.newscontain ul li img{display: block; width: 135px; float: left; margin-top: 6px;}
.newscontain ul li .wen{float: left; width: 240px; margin-left: 16px;}
.newscontain ul li .wen h2{font-size: 24px; color: #353535; border-bottom: 1px solid #cdcdcd; line-height: 62px;}
.newscontain ul li .wen h3{font-size: 14px; color: #353535; line-height: 50px;}
.newscontain ul li .wen .icoCon img{display: block; width: 25px; margin: 0;}
.newscontain ul li .wen .icoCon a{display: block;float: left;margin: 0 20px 0 0; position: relative;}
.newscontain ul li .wen .icoCon .weibo{position: relative;}
.newscontain ul li .wen .icoCon .wechatT{border-radius: 5px; position: absolute;top:-180px;left: -70px;box-shadow: 0 0 5px #ccc;border-radius: 5px;display: none; width: 160px; height: 160px; background: #fff; z-index: 99;}
.newscontain ul li .wen .icoCon .wechatT em{display: block; width:0px; height:0px; border-left:10px solid transparent;  border-right:10px solid transparent; border-top:12px solid #fff; font-size:0px; line-height:0px; position: absolute; bottom: -12px; left: 50%;margin-left: -10px;z-index: 999;}
.newscontain ul li .wen .icoCon .weixins{display: block; float: none; width: 110px; margin: 4px auto 0;}
.newscontain ul li .wen .icoCon .wechatT p{font-size: 12px; color: #333; text-align: center; padding: 0 6px;}
/*新战略投资*/
.newtechBox .invCon .invTit{margin-top: 70px;}
.newtechBox .invCon p{font-size: 14px; color: #373737; margin-top: 50px; line-height: 24px;}
.newtechBox .invCon{border-bottom: 1px solid #cdcdcd; padding-bottom: 120px;}
.newtechBox .invCon .advantage ul li{float: left; width: 25%; text-align: center; margin-top: 60px;}
.newtechBox .invCon .advantage ul li p{font-size: 14px; color: #373737; margin-top: 28px; line-height: 28px; padding: 0 40px; height: 84px;}
.newtechBox .invCon .advantage ul li.marr{margin-left: 12%;}
.newtechBox .invCon .brands{margin-top: 94px;}
.newtechBox .invCon .brands ul{border-top: 3px solid #dadada; border-right: 3px solid #dadada;}
.newtechBox .invCon .brands ul li{float: left; cursor: pointer; width: 256px; height: 146px; border-bottom: 3px solid #dadada; border-left: 3px solid #dadada; margin-left: 0; text-align:center; display:table-cell;}
.newtechBox .invCon .brands ul li i {
    display:inline-block;
    height:100%;
    vertical-align:middle
    }
.newtechBox .invCon .brands ul li img {
    vertical-align:middle
    }
.inmap{width: 100%; position: relative; margin-top: 90px;}
.inmap img{display: block; width: 100%;}
.inmap .inmapCon{position: absolute; height: 194px; width: 100%; left: 0; bottom: 0; background: #0280bb; opacity: 0.9;}
.inmap .inmapCon li{float: left; width: 29.33%; margin: 0 2%;}
.inmap .inmapCon li img{display: block; margin: 46px auto 0; width: auto;}
.inmap .inmapCon li p{color: #fff; font-size: 14px; text-align: center; margin-top: 16px; line-height: 26px;}

/*联系我们*/
.contactbanner h2{font-size: 60px; text-align: center; font-weight: bold; margin-top: 18%; text-transform:uppercase}
.contactbanner h3{font-size: 48px; text-align: center; margin-bottom: 60px;}
.contactCon1{padding: 40px 0;}
.contactCon1 p{font-size: 16px; color: #333333; line-height: 32px;}
.contactCon1 p span{ margin-right:12px;white-space: nowrap;}
.contactCon2{background: #fafafa; padding: 65px 0 40px;}
.contactCon2 img{display: block; margin: 0 auto;}
.contactCon3{margin-top: 44px;}
.contactCon3 h2{font-size: 20px; font-weight: bold; color: #333;}
.contactCon3 .contactf{width: 50%;}
.contactCon3 .contactf p{font-size: 14px; color: #373737; line-height: 26px; padding: 22px 0;}
.contactCon3 .contactfr1 p{padding-left: 50px;}
.contactCon4{padding-bottom: 120px;}
.contactCon4 .contact1{margin-top: 62px;}
.contactCon4 .contactf{width: 50%;}
.contactCon4 .contactf h2{font-size: 20px; font-weight: bold; color: #333; margin-bottom: 8px;}
.contactCon4 .contactf p{font-size: 14px; color: #373737; line-height: 26px;}
.contactCon4 .contactf.fr h2{padding-left: 51px;}
.contactCon4 .contactf.fr p{padding-left: 51px;}
/*视频中心*/
.newsConter .menu-tab{padding-top: 50px; width: 600px; margin: 0 auto;}
.newsConter .menu-tab li{float: left; margin: 0 40px; height: 100px; cursor: pointer; line-height: 100px; border-bottom: 3px solid #fff; font-size: 30px; color: #373737;}
.newsConter .menu-tab li.active{border-bottom: 3px solid #0280bb; color: #0280bb;}
.newsconterCon{border-top: 1px solid #cdcdcd; padding: 60px 0 120px; position: relative; z-index: 1;}
#gla{margin:0 auto;position:relative;}
#gla_box{width:960px;margin:auto;position:relative;}
.gla_inbox{overflow:hidden;position:relative;}
.gla_inbox p{text-indent:1em;font-size:14px;width:100%;color:#FFFFFF;line-height:30px;background:#000000;}
.gla_inbox img{width:100%;height:100%;}
.roundabout-holder{height:540px;width:100%;}
.roundabout-moveable-item{display:block;height:540px;width:800px;cursor:pointer;}
.roundabout-in-focus{cursor:auto;}
.box-con{position: relative;}
.box-con p{position: absolute; display: none; left: 0; bottom: 0; width: 100%; height: 70px; line-height: 70px; font-size: 16px; color: #fff; text-indent: 1.5em; background: rgba(0,0,0,0.8)}
.box-con .ico{position: absolute; cursor: pointer; width: 104px; height: 104px; background: url(../images/aniu.png) no-repeat center; background-size: 104px; left: 50%; top: 50%; margin: -52px 0 0 -52px; display: none;}
.box-con .boxbg{display: none; cursor: pointer; height:540px;width:800px; position: absolute; left: 0; top: 0; background: rgba(0,0,0,0.6);}
.roundabout-in-focus .box-con p{display: block;}
.roundabout-in-focus .box-con .ico{display: block;}
.roundabout-in-focus .box-con .boxbg{display: block;}
/*公共遮罩*/
.layuiBg1 { display: none; background-color: #000; position: fixed; z-index: 99; left: 0; top: 0; width: 100%; height: 100% !important; opacity: 0.8; filter: alpha(opacity=80); -moz-opacity: 0.8; }
/*视频播放弹窗*/
.layuiBox1 { display: none; position: fixed;  height: auto; z-index: 100; width: 900px; top: 200px; animation: bounceIn .3s; -moz-animation: bounceIn .3s; -webkit-animation: bounceIn .3s; -o-animation: bounceIn .3s; }
.layuiBox1 .layer-content { width: 100%; }
.layuiBox1 .lay-con { position: relative; z-index: 999; }
.layuiBox1 .lay-con embed { position: relative; z-index: 2; }
.layuiBox1 .lay-con p { font-size: 16px; color: #fff; width: 100%; height: 55px; line-height: 55px; background: #424a5b; position: absolute; z-index: 9; left: 0; bottom: 0; text-indent: 2em; }
.layuiBox1 .lay-con img.img { position: absolute; left: 50%; top: 50%; margin-top: -24.5px; margin-left: -24.5px; z-index: 99; cursor: pointer; }
.layuiBox1 .layerClose { display: block; width: 37px; height: 37px; background: url(../images/close1.png) no-repeat; right: 22px; top: 22px; position: absolute; z-index: 99; cursor: pointer; }
.play-vi { width: 902px; height: 480px; margin: 0 auto; padding-bottom: 54px;background-color: #000;}
/*新关于我们*/
.about_cpc{text-align: center; margin-top: -360px;}
.about_cpc h2{font-size: 36px; color: #0280bb; text-transform: uppercase;}
.about_cpc h3{font-size: 36px; color: #353535; margin: 10px auto 48px;}
.about_cpc p{font-size: 16px; color: #373737; line-height: 26px;}
.about_cpc ul{width: 660px; margin: 120px auto;}
.about_cpc ul li{float: left; width: 50%;}
.about_cpc ul li p{font-size: 14px; color: #373737; margin-top: 40px;}
/*新文化与价值观*/
.culturebanner img{min-height: 646px;}
.newculture h2{font-size: 60px; color: #0280bb; text-transform: uppercase; text-align: center;}
.newculture h3{font-size: 36px; color: #353535; margin: 10px auto 48px; text-align: center;}
.newculture1{background: #ebf1f4; padding: 130px 0 100px;}
.newculturecon1{height: 400px; position: relative;}
.newculturecon1 img{display: block; margin: 180px auto; min-height: 295px;}
.newculturecon1 ul li {position: absolute;}
.newculturecon1 ul li h5{font-size: 24px; color: #373737; padding: 38px 48px 10px;}
.newculturecon1 ul li p{font-size: 14px; color: #373737; padding: 0 48px;}
.newculturecon1 ul li.li1{background: url(../images/dico1.png) no-repeat; width: 467px; height: 204px; top: -120px; left: -42px;}
.newculturecon1 ul li.li2{background: url(../images/dico3.png) no-repeat; width: 467px; height: 204px; bottom: 0px; left: -42px;}
.newculturecon1 ul li.li3{background: url(../images/dico2.png) no-repeat; width: 467px; height: 204px; top: -120px; right: -42px;}
.newculturecon1 ul li.li4{background: url(../images/dico4.png) no-repeat; width: 467px; height: 204px; bottom: 0px; right: -42px;}
.newculturecon1 ul li.li2 h5, .newculturecon1 ul li.li4 h5{padding-top: 60px;}
.newculture2{background: #fff; padding: 130px 0 120px;}
.newculture2 img, .newculture3 img, .newculture4 img{display: block; margin: 0 auto;}
.newculture2 img{min-height: 408px;}
.newculture3 img{min-height: 377px;}
.newculture4 img{min-height: 354px;}
.newculture2 p{font-size: 16px; text-align: center; color: #373737; margin-top: 50px;}
.newculture3{background: #ebf1f4; padding: 130px 0 100px;}
.newculture3 ul{margin-top: 50px;}
.newculture3 ul li{float: left; width: 47%; color: #373737; margin: 25px 2% 25px 1%; background: #fff; border-radius: 3px; cursor: pointer; position: relative;}
.newculture3 ul li p{padding: 46px 70px; font-size: 24px;}
.newculture3 ul li.marr{margin: 25px 1% 25px 2%;}
.newculture3 ul li .show{display: none; position: absolute; width: 100%; height: 100%; background: #0280bb; color: #fff; font-size: 14px; line-height: 24px; top: 0;left: 0; border-radius: 3px;}
.newculture3 ul li .show span{display: block;padding: 20px 10px 0 30px;}
.newculture3 ul li:hover .show{display: block;}
.newculture4{background: #fff; padding: 130px 0 120px;}
.newculture4 ul li{float: left; width: 401px; margin: 15px 16px; background: #f2f2f2; border-radius: 3px; padding: 40px 0 48px;}
.newculture4 ul li h4{padding: 0 46px; font-size: 30px; color: #373737}
.newculture4 ul li p{padding: 0 46px; font-size: 14px; color: #373737; margin-top: 20px;}
.newculture4 ul li.marr{margin-left: 230px;}
.newculture5{padding-bottom: 150px;}
.contactbanner img{min-height: 422px;}
.socialbanner img.img{min-height: 660px;}
.socialsec6{background: #fff;}
.socialsec6 h2{font-size: 28px; color: #666; font-weight: bold; text-align: center;}
.socialsec6 h3{font-size: 15px; color: #999; text-align: center; margin: 0; padding-bottom: 20px; border-bottom: 1px solid #f3f3f3;}
.socialsec6 .starcon .starconl .wen{background: rgba(0,0,0,0.5);}
.socialsec6 .starcon .starconl .wen a{font-size: 16px; display: block; color: #fff; padding-left: 16px; margin: 10px 0 4px 0;}
.socialsec6 .starcon .starconl .wen p{font-size: 14px; color: #fff; padding-left: 16px;}
.socialsec6 .starcon .starconl:hover .wen a{color: #8ec320;}
.socialsec6 .starcon .starconl .wen span{font-size: 12px; color: #aaa; padding-left: 16px; display: block; margin-top: 4px;}
.socialsec6 .starcon .starlist li .dates{float: left; width: 72px; height: 75px; background: #f3f3f3; color: #cccccc; font-size: 28px; text-align: center; border-radius: 3px;}
.socialsec6 .starcon .starlist li .dates span{display: block; font-size: 12px; font-weight: normal;}
.socialsec6 .starcon .starlist{width: 710px;}
.socialsec6 .starcon .starlist li .wen{width: 610px;}
.socialsec6 .starcon .starconl{width: 560px; height: 370px;}
.socialsec6 .starcon .starconl img{min-height: 370px;}
.socialsec6 .starcon .starlist li .wen p{color: #999; margin-top: 6px;}
.socialsec7{background: #fff; padding: 60px 0;}
.socialsec7 h2{font-size: 28px; color: #666; font-weight: bold; text-align: center;}
.socialsec7 h3{font-size: 15px; color: #999; text-align: center; margin: 0; padding-bottom: 20px; border-bottom: 1px solid #f3f3f3;}
.download{margin-top: 60px;}
.download ul{overflow:hidden; zoom:1; padding-left:196px;}
.download ul li{float:left; overflow:hidden; text-align:center; width: 356px; height: 150px; border: 1px solid #e8e8e8; margin: 0 36px;}
.download ul li h2{font-size: 18px; font-weight: normal; color: #373737; padding: 20px 0 0;}
.download ul li p{font-size: 16px; color: #373737; padding: 12px 0 16px;}
.download ul li a{display: block; width: 80px; height: 30px; line-height: 30px; text-align: center; color: #373737; border: 1px solid #e8e8e8; margin: 0 auto;}
.download ul li a:hover{color: #fff; background: #00A0E9; border: 1px solid #00A0E9;}
.starsec7{background: #fcfcfc;}
.starsec7 img{width: 100%; max-width: 1251px; margin: 80px auto 0; display: block;}
.blistBox{position: relative; padding-bottom: 80px;}
.blistBox .hd{overflow:hidden;}
.blistBox .hd .prev,.blistBox .hd .next{display:block; width:60px; height:40px; overflow:hidden; cursor:pointer; position: absolute;}
.blistBox .hd .prev{background:url(../images/stleft_h.png) no-repeat; bottom: 0px; left: 50%; margin-left: -70px;}
.blistBox .hd .next{background:url(../images/stright_h.png) no-repeat; bottom: 0px; right: 50%;margin-right: -70px;}
.blistBox .hd .prevStop{background:url(../images/stleft.png) no-repeat; bottom: 0px; left: 50%;margin-left: -70px;}
.blistBox .hd .nextStop{background:url(../images/stright.png) no-repeat; bottom: 0px; right: 50%;margin-right: -70px;}
.blistBox .bd .blist{ overflow:hidden; zoom:1;}
.pastul{margin-top: 40px;}
.pastul li{float: left; width: 350px; margin-right: 125px;}
.pastul li h5{width: 310px;position: relative; margin: 0 auto;}
.pastul li h5 span{display: block; margin: 0 auto; width: 190px; height: 30px; line-height: 30px; text-align: center; border-radius: 5px; color: #8ec320; font-size: 15px; background: #fff; position: relative; z-index: 2; font-weight: bold;}
.pastul li h5 b{display: block; width: 310px; position: absolute; left: 0; top: 17px; height: 2px; background: #8ec320;}
.pastul li p{font-size: 14px; color: #555; height: 56px; line-height: 56px; border-bottom: 1px solid #f6f6f6;}
.pastul li p.marr{border-top: 1px solid #ddd; margin-top: 12px;}
.pastul li p img{display: inline-block; margin: 26px 6px;}
.pastul li p span{display: inline-block; color: #333; font-size: 16px; margin: 0 16px 0 6px;}
.pastul li.marr{float: right; margin-right: 0;}
/*教育科技*/
.culturebanner1 h2{margin-top: 37%;}
.culturebanner1 img{min-height: 613px;}
.educationalTe1{padding: 60px 0; text-align: center;}
.educationalTe1 h2{font-size: 36px; font-weight: bold; color: #666666;}
.educationalTe1 p{font-size: 14px; color: #666666; padding: 0 80px; line-height: 26px; margin-top: 20px;}
.educationalTe2{padding: 60px 0; background: #f5f5f5;}
.eduTitle{font-size: 36px; font-weight: bold; color: #666666; text-align: center; position: relative;}
.eduTitle span{display: block;}
.eduTitle .line{display: inline-block; width: 44px; height: 3px; background: #0280bb;position: absolute; left: 50%; margin-left: -22px; bottom: -5px;}
.educationalTe2 ul{margin-top: 60px;}
.educationalTe2 ul li{float: left; width: 360px; height: 450px; position: relative; border-radius: 5px; overflow: hidden; margin-right: 110px;}
.educationalTe2 ul li img{display: block; width: 100%; min-height: 450px;}
.educationalTe2 ul li .bg{position: absolute; width: 100%; height: 180px; background: rgba(0,0,0,0.5); bottom: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
.educationalTe2 ul li .bg h2{font-size: 24px; color: #fff; text-align: center; padding: 20px 20px 6px;}
.educationalTe2 ul li .bg p{font-size: 14px; color: #fff; padding: 0 20px; line-height: 26px;}
.educationalTe2 ul li.marr{float: right; margin-right: 0;}
.educationalTe3 {padding: 60px 0; background: #fff;}
.eduteCon1{width: 100%; position: relative; height: 570px; margin-top: 60px;}
.eduteCon1 .img{width: 600px; min-height: 500px; position: absolute; display: block; z-index: 1;}
.eduteCon1 .imgl{left: 0; top: 0;}
.eduteCon1 .imgr{right: 0; top: 0;}
.eduteCon1 .wen{width: 1228px; height: 535px; position: relative; margin-top: 28px; z-index: 0;}
.eduteCon1 .wenr{float: right;}
.eduteCon1 .wenl{float: left;}
.eduteCon1 .wen img{display: block; position: absolute;}
.eduteCon1 .wenr img{width: 100%; min-height: 402px; right: 0; bottom: 0;}
.eduteCon1 .wenl img{width: 760px; height: 340px; left: 0; bottom: 90px;}
.eduteCon1 .wen .border{border: 4px solid #0280bb; z-index: 1; position: relative; background: #fff;}
.eduteCon1 .wenr .border{width: 1180px; height: 500px;}
.eduteCon1 .wenl .border{width: 760px; height: 400px; margin: 12px 0 0 50px;}
.eduteCon1 .wen .border h2{font-size: 36px; color: #666; position: absolute; background: #fff; padding: 0 20px;}
.eduteCon1 .wenr .border h2{right: 50px; top: -30px;}
.eduteCon1 .wenl .border h2{left: 50px; top: -30px;}
.eduteCon1 .wen .border .list{width: 584px;margin-top: 16px;}
.eduteCon1 .wenr .border .list{float: right; padding-right: 16px;}
.eduteCon1 .wenl .border .list{float: left; margin-left: 54px; margin-top: 40px;}
.eduteCon1 .wen .border .list h3{font-size: 18px; color: #666; margin-top: 36px;}
.eduteCon1 .wen .border .list p{font-size: 14px; color: #666; margin-top: 12px; line-height: 26px;}
.eduteCon2 img{display: block; width: 100%; min-height: 533px; margin-top: 60px;}
.eduteCon2 ul{margin-top: 60px; padding-bottom: 30px;}
.eduteCon2 ul li{float: left; width: 39%; padding: 0 5% 40px;}
.eduteCon2 ul li.marr{border-left: 1px solid #eaeaea; margin-left: -1px;}
.eduteCon2 ul li h5{font-size: 28px; color: #666; text-align: center;}
.eduteCon2 ul li p{font-size: 16px; color: #666; margin-top: 30px; line-height: 26px;}

@media screen and ( max-width:1440px ) {
	.newsbanner h2{margin-top: 14%; font-size: 48px;}
	.newsbanner h3{margin-bottom: 40px; font-size: 36px;}
	.newtechBox .invCon .brands ul li{width: 236px;}
	.contactbanner h2{margin-top: 13%; font-size: 48px;}
	.contactbanner h3{margin-bottom: 40px; font-size: 36px;}
	#gla_box{width:800px;}
	.roundabout-holder{height:405px;}
	.roundabout-moveable-item{height:405px;width:600px;}
	.box-con .boxbg{height:405px;width:600px;}
	.layuiBox1 {top: 120px;}
	.about_cpc{margin-top: -200px;}
	.newculture4 ul li{width: 368px;}
	.newculture4 ul li.marr{margin-left: 220px;}
	.socialsec6 .starcon .starlist{width: 610px;}
	.socialsec6 .starcon .starlist li .wen{width: 516px;}
	.download ul li{width: 330px;}
	.pastul li{margin-right: 75px;}
	.culturebanner1 h2{margin-top: 28%;}
	.educationalTe2 ul li{margin-right: 60px}
	.eduteCon1 .wenr{width: 1128px; height: 510px; margin-top: 36px;}
	.eduteCon1 .wenr .border{width: 1080px; height: 480px;}
	.eduteCon1 .wenr .border .list{width: 516px; padding-right: 16px;}
	.eduteCon1 .wen .border .list{width: 470px;}
}

/*图片最小高度限制*/
.aboutbanner img{min-height: 646px;}
.aboutsec3 img{min-height: 646px;}
.aboutsec4 .img{min-height: 785px;}
.contactCon2 img{min-height: 749px;}
.newsWen img{min-height: 202px;}
.culturebanner2 img{min-height: 323px;}

.technology img{min-height: 646px;}
.techBox .contain .conne .conner img{min-height: 296px;}
.newsbanner img{min-height: 135px;}
.starsec7 img{min-height: 383px;}
.blist li img{min-height: 280px;}